<div class="jumbotron jumbotron-fluid">
  <div class="container text-center mt-5">
    <h1><b>Acerca de Nosotros</b></h1>
  </div>
</div>
<div class="container">
  <div id="myCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/fotosgrupo/edificios.jpg"  class="rounded img-fluid" alt="axonometrica" loading="lazy" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/fotosgrupo/departamentos.jpg"  class="rounded img-fluid" alt="estructura"  loading="lazy" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/fotosgrupo/quincho.jpg"  class="rounded img-fluid" alt="departamentos" loading="lazy" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/fotosgrupo/innovacion-tecnologica.jpg"  class="rounded img-fluid" alt="quincho" loading="lazy" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
      <div class="container" data-aos="fade-up">  
        <div class="container-text mt-3">
          <div >
            <p>
              Turismo real fue fundada con la iniciativa de revolucionar el mundo de arriendos.
              Nos dedicamos a ofrecer los mejores departamentos dentro de Chile y que vivas las vacaciones de tus sueños.
              Entregando los mejores servicios a nuestros clientes y un trato personalizado, confidencial y profesional.
              Todo en torno a la plataforma inmobiliaria más moderna del mercado, ofreciendo un servicio integral.
            </p>
            <p><strong>Nuestra Misión:</strong></p>
            <p>
              Acelerar las gestiones para unas vacaciones inolvidables mediante una economía colaborativa. Facilitando el tiempo y la autonomia de las personas ademas de proporcionar un servicio integral a todos nuestros clientes.
            </p>
            <p><strong>Nuestra Visión:</strong></p>
            <p>
              Ser líderes en el mundo de arriendos inmobiliarios, ofreciendo seguridad, transparencia y una oferta integral a nuestros clientes con un servicio de excelencia.             
            </p>
          </div>
          <div class="flap"></div>
        </div>
        <ul class="cards">
          <li>
            <a class="card" style="width: 22rem;">
              <img src="assets\img\fotosgrupo\alexander.png" class="card_image" alt="" style="width: 100%;"  />
              <div class="card__overlay">
                <div class="card__header">
                  <img class="card__thumb" src="assets\img\tr.png" alt="" style="width: 5rem;" />
                  <div class="card__header-text">
                    <h3 class="card__title"><strong>Alexander Hernández</strong></h3>            
                    <span class="card__status"><strong>Desarrollador web</strong></span>
                  </div>
                </div>
                <p class="card-footer"  style="color:grey;">Encargado del Back-End del sitio validando y creando las funcionalidades.</p>
              </div>
            </a>      
          </li>
          <li>
            <a class="card" style="width: 22rem;">
              <img src="assets\img\fotosgrupo\burgos.png" class="card__image" alt="" style="width: 100%;" />
              <div class="card__overlay">
                <div class="card__header">
                  <img class="card__thumb" src="assets\img\tr.png" alt="" style="width: 5rem;"/>
                  <div class="card__header-text">
                    <h3 class="card__title"><strong>Cristobal Burgos</strong></h3>            
                    <span class="card__status"><strong>Ingeniero informático</strong></span>
                  </div>
                </div>
                <p class="card-footer"  style="color:grey;">Encargado de los procesos de desarrollo en la página “Turismo Real”, CEO de “SOCIAL DEVELOPMENT GROUP".</p>
              </div>
            </a>      
          </li><li>
            <a class="card" style="width: 22rem;">
              <img src="assets\img\fotosgrupo\ara.png" class="card__image" alt="" style="width: 100%;"  />
              <div class="card__overlay">
                <div class="card__header">
                  <img class="card__thumb" src="assets\img\tr.png" alt="" style="width: 5rem;" />
                  <div class="card__header-text">
                    <h3 class="card__title"><strong>Arayeska Herrera</strong></h3>            
                    <span class="card__status"><strong>Analista QA</strong></span>
                  </div>
                </div>
                <p class="card-footer"  style="color:grey;">Líder QA enfocada en conocer los límites y velar por la calidad del producto final entregado, encargada de obtener las pruebas y documentación necesaria para validar cada flujo sostenible de los usuarios que ingresen a la plataforma.</p>
              </div>
            </a>      
          </li>
          <li>
            <a class="card" style="width: 22rem;">
              <img src="assets\img\fotosgrupo\jp.png" class="card__image" alt=""  style="width: 100%;" />
              <div class="card__overlay">
                <div class="card__header">
                  <img class="card__thumb" src="assets\img\tr.png" alt="" style="width: 5rem;"/>
                  <div class="card__header-text">
                    <h3 class="card__title"><strong>Juan Pablo Urra</strong></h3>            
                    <span class="card__status"><strong>Ingeniero informático</strong></span>
                  </div>
                </div>
                <p class="card-footer"  style="color:grey;">Ingeniero informático encargado de la mantenibilidad del sitio web, soporte, mantención y sostenibilidad de los servicios en este proyecto.</p>
              </div>
            </a>      
          </li>
          <li>
            <a class="card" style="width: 22rem;">
              <img src="assets\img\fotosgrupo\marco.png" class="card__image" alt="" style="width: 100%;"/>
              <div class="card__overlay">
                <div class="card__header">
                  <img class="card__thumb" src="assets\img\tr.png" alt="" style="width: 5rem;"/>
                  <div class="card__header-text">
                    <h3 class="card__title"><strong>Marco Brante</strong></h3>            
                    <span class="card__status"><strong>Analista QA</strong></span>
                  </div>
                </div>
                <p class="card-footer" style="color:grey;">Automatizador QA, cumple el objetivo de hacer pruebas no asistidas que cumplan con las reglas del negocio planteadas por el cliente, validando cada funcionalidad a nivel de front y/o back.</p>
              </div>
            </a>      
          </li>
        </ul>
      </div>
      <p class="mt-5 mb-3 text-muted text-center">&copy; Turismo Real - 2022</p>
