<div class="form-group text-center">
        <img class="mt-5" src="./../../../assets//img/tr.png" alt="">
        <h2 class="h3 mb-3 fw-normal text-center"></h2>
        <h1></h1>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Contáctanos</h1>
          <p class="lead">Para contactarnos, enviar tus dudas, reclamos o sugerencias por favor envíanos un e-mail a turismoreal@gmail.com.</p>
        </div>
      </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Turismo Real - 2022</p>
</div>