<div class="container mt-2">
    <div class="alert alert-secondary text-center">
        <h3> <b><i> Mantenedores</i></b></h3>
    </div>
    <div class="row  text-center">
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100 mb-2 ">
                Productos
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100 mb-2" routerLink="/mantenedor-serviciosextra">
                Servicios Extras
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100 mb-2" routerLink="/mantenedor-departamento">
                Departamentos
            </button>
        </div>
    </div>
    <div class="row mt-3  text-center">
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100 mb-2" routerLink="/mantenedor-mantenciones">
                Mantenciones
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100 mb-2" routerLink="/mantenedor-usuarios">
                Usuarios
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100 mb-2">
                Transportistas
            </button>
        </div>
    </div>
</div>