<div class="col">
    <div class="card h-100 border-primary">

      <img *ngIf="departamento?.foto" src="http://localhost:8080/api/departamentos/upload/img/{{departamento.foto}}"  class="img-fluid rounded-start card-img-top">
      <img *ngIf="!departamento?.foto" src="http://localhost:8080/api/departamentos/upload/img/noImage.jpg"   class="img-fluid rounded-start card-img-top">
      <div class="card-img-overlay h-25">
          <div class="row">
              <div class="col">
                  <div class="card-title text-start"><span class="badge bg-primary rounded-pill">{{departamento.comuna.nombre}}</span></div>

              </div>
              <div class="col">
                  <div class="card-title text-end"><span class="badge bg-success rounded-pill">{{departamento.ctdHabitaciones}} H / {{departamento.ctdBanos}} B</span></div>

              </div>
          </div>

      </div>

      <div class="card-body">
          <h5 class="card-title">{{departamento.direccion}} - {{departamento.tamano}} mt2</h5>
          <p class="card-text">{{departamento.politicasCondiciones}} </p>
          <p class="card-text text-dark "><b></b> </p>
          <p class="card-text text-success "><b>Valor Arriendo Dia: {{departamento.valorArriendoDia | currency:'CLP' }}</b> </p>
          <button class="btn  btn-primary w-100" *ngIf="verFechas"
          (click)="goPaso2(departamento)">Ver Fechas Disponibles</button>
        </div>

    </div>
  </div>