<div class="col">
    <div class="card h-100 border-success">

      <img src="./../../../assets/img/depa2.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-img-overlay h-25">
          <div class="row">
              <div class="col">
                  <div class="card-title text-start"><span class="badge bg-primary rounded-pill">La Serena</span></div>

              </div>
              <div class="col">
                  <div class="card-title text-end"><span class="badge bg-success rounded-pill">3D / 2B</span></div>

              </div>
          </div>

      </div>

      <div class="card-body">
          <h5 class="card-title">Los Aromos 20302 - 76 mt2</h5>
          <p class="card-text">Descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi fugit vitae nihil, dolorum voluptas est </p>
          <p class="card-text text-dark "><b></b> </p>
          <p class="card-text text-success "><b>Valor Arriendo Dia: $25.000</b> </p>
          <button class="btn  btn-outline-success w-100">Ver Fechas Disponibles</button>
        </div>

    </div>
  </div>