<div class="container">
    <div class="alert alert-secondary mt-2">
        <p><b>Bienvenido al sistema de ADMINISTRACIÓN</b> desde esta sección podras controlar todo el sistema , acceder a mantenedores , actualizar inventarios , gestionar mantenciones y mucho más!   </p>
    </div>
    <div class="row text-center my-5">
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100" routerLink="/admin-reservas">Reservas</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100" routerLink="/mantenedores">Mantenedores</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary p-5 w-100" routerLink="/admin-departamentos">Departamentos</button>
        </div>
    </div>
</div>
<hr>
