<div class="container">
    <div class="row">
        <div class="col-md-4 my-2">
            <app-card-departamentos></app-card-departamentos>
        </div>
        <div class="col-md-4 my-2">
            <app-card-departamentos></app-card-departamentos>
        </div>
        <div class="col-md-4 my-2">
            <app-card-departamentos></app-card-departamentos>
        </div>
        <div class="col-md-4 my-2">
            <app-card-departamentos></app-card-departamentos>
        </div>
        <div class="col-md-4 my-2">
            <app-card-departamentos></app-card-departamentos>
        </div>

    </div>
</div>

